.box {
    width: 300px;
    height: 100px;
    border: 10px solid gray;
    border-radius: 15px;
    margin: 2px;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ccc;
}

.color1{
    background-color: white;
    border-color: black;
}

.color2{
    background-color: black;
    border-color: aqua;
}